<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/about" method="get">
<label for="/about">Name</label>
<input type="text" placeholder="enter name" name="name">

<label for="">Password</label>
<input type="text" placeholder="enter password" name = 'password'>
<button>Submit</button>



  </form>
  <a href="/">Go To home</a>
</body>
</html>